# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
## 1
## Creating tuple with 10 positive integers

contoh_tuple = (1,2,3,4,5)
print(contoh_tuple,type(contoh_tuple))

(1, 2, 3, 4, 5) <class 'tuple'>

In [2]:
## 2
## Accessing Tuple Elements
## Print the first, middle, and last elements of the tuple created in Assignment 1.

print(contoh_tuple[0])
print(contoh_tuple[2])
print(contoh_tuple[4])

1
3
5

In [14]:
## 3
## Tuple Slicing
## Print the first three elements, the last three elements,
## and the elements from index 2 to 5 of the tuple created in Assignment 1.


print(contoh_tuple[:3])
print(contoh_tuple[-3:])
print(contoh_tuple[1:6])

(1, 2, 3)
(3, 4, 5)
(2, 3, 4, 5)

In [42]:
## 4
## Nested Tuples
## Create a nested tuple representing a 3x3 matrix and print the matrix.
## Access and print the element at the second row and third column.

tupleku=[(1,2,3),(4,5,6),(7,8,9)]

print("Matrix: ")
for i in tupleku:
    print(i)


print(f"Elemen Baris Kedua dan Kolom Ketiga: {tupleku[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Elemen Baris Kedua dan Kolom Ketiga: 6

In [44]:
## 5
## Tuple Concatenation
## Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

angka1 = (1,2,3)
angka2 = (4,5,6)

concatenationT = angka1 + angka2
print(concatenationT)

list[(1, 2, 3), (4, 5, 6)]

In [47]:
## 6
## Tuple Methods
## Create a tuple with duplicate elements and count the occurrences of an element. 
## Find the index of the first occurrence of an element in the tuple.

tuples = [1,2,4,3,4,6,3]
print(f"Jumlah elemen 3: {tuples.count(3)}")
print(f"The first index of the occurrence: {tuples.index(3)}")

Jumlah elemen 3: 2
The first index of the occurrence: 3

In [56]:
## 7
## Unpacking Tuples
## Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

upak = (1,2,3,4,5)

(satu,dua,tiga,empat,lima) = upak

print(satu,dua,tiga,empat,lima)

1 2 3 4 5

In [85]:
## 8
## Tuple Conversion
## Convert a list of the first 5 positive integers to a tuple. Print the tuple.

kist = [1,2,3,4,5]
print(kist,type(kist))

tupleku = tuple(kist)
print(tupleku,type(tupleku))

[1, 2, 3, 4, 5] <class 'list'>
(1, 2, 3, 4, 5) <class 'tuple'>

In [67]:
## 9
## Tuple of Tuples
## Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
bilangan = ((1,2,3),(4,5,6),(7,8,9))

for i in bilangan:
    print(i)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [5]:
## 10
## Tuple and List
## Create a tuple with the first 5 positive integers. 
## Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

Angko = (1,2,3,4,5)
 
print(Angko,type(Angko))

y = list(Angko)
y.append(6)
print(y,type(y))

Angko = tuple(y)
print(Angko,type(Angko))

(1, 2, 3, 4, 5) <class 'tuple'>
[1, 2, 3, 4, 5, 6] <class 'list'>
(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [11]:
## 11
## Tuple and String
## Create a tuple with the characters of a string.
## Join the tuple elements into a single string. Print the string.

motor = ("beat","vario","cbr","aerox")
joinn = " ".join(motor)
print(joinn)

beat vario cbr aerox

In [21]:
## 12
## Tuple and Dictionary
## Create a dictionary with tuple keys and integer values. Print the dictionary.

kamusku = {
    ("nama",):1,
    ("kelas",):2,
    ("sekolah",):3 
}

print(kamusku,type(kamusku))

{('nama',): 1, ('kelas',): 2, ('sekolah',): 3} <class 'dict'>

In [23]:
## 13
## Nested Tuple Iteration 
## Create a nested tuple and iterate over the elements, printing each element.

tupleku = ((1,2,3),(4,5,6),(7,8,9))

for i in tupleku:
    for x in i:
        print(x)

1
2
3
4
5
6
7
8
9

In [27]:
## 14
## Tuple and Set
## Create a tuple with duplicate elements.
## Convert it to a set to remove duplicates and print the resulting set.

buahku = ("Apel","Anggur","Kelengkeng","Apel")
print(buahku,type(buahku))

buah = set(buahku)
print(buah,type(buah))

('Apel', 'Anggur', 'Kelengkeng', 'Apel') <class 'tuple'>
{'Anggur', 'Apel', 'Kelengkeng'} <class 'set'>

In [54]:
## 15
## Tuple Functions
## Write functions that take a tuple and return the minimum, maximum,
## and sum of the elements. Print the results for a sample tuple.
def fungsiku(angkaa):
    print(f"Angka yang paling kecil yaitu: {min(angkaa)}")
    print(f"Angka yang paling besar yaitu: {max(angkaa)}")
    print(f"Angka yang paling besar yaitu: {sum(angkaa)}")    

angkaa = (1,2,3,4,5)

fungsiku(angkaa)

Angka yang paling kecil yaitu: 1
Angka yang paling besar yaitu: 5
Angka yang paling besar yaitu: 15